:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  --base-space: 8px;
  --size-button: 60px;
  --animation-duration: 300ms;
  --button-font-size: 18px;
}

* {
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  margin: 100px;
}

.logo:hover {
  transform: scale(1.1);
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: var(--size-button);
  width: var(--size-button);
}

.logo{
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  height: 100%;
  width: 100px;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 10%;
  background-color: transparent;
  transition: transform var(--animation-duration) ease;
  font-size: var(--button-font-size);
}
.blue-button{
  background-color: var(--color-blue);
}
.yellow-button{
  background-color: var(--color-yellow);
}
.pink-button{

  background-color: var(--color-pink);
}
ul {
  overflow-y: scroll;
  height: 500px;
}

li {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  height: 50px;
  width: 350px;
  border-radius: 1%;
  padding: 10px;
  padding-left: 0;
  list-style: none;
  margin-bottom: var(--base-space);
}